In [1]:
from __future__ import unicode_literals
import pandas as pd
%matplotlib inline
from matplotlib import pyplot as plt

In [2]:
pd.options.display.max_colwidth = -1
pd.options.display.max_columns = None

## Initial testing on 400 rows

In [3]:
item_info = pd.read_csv('../ItemInfo_train.csv', encoding='utf-8', nrows=400)
item_info.tail(3)

,itemID,categoryID,title,description,images_array,attrsJSON,price,locationID,metroID,lat,lon
397,732,33,Греция. Родос. 2взр. Все вкл.10ноч. из Белгорода,"Греция. Родос. ALDEMAR PARADISE VILLAGE 5*\nДата вылета: 12.07.2016, 10 ночей. Стоимость тура за 2 взр.\nГород вылета: Белгород. Питание: AI - Все Включено\nТип номера: Double Room Garden View\nРазмещение: 2 взрослых\nРоскошный пятизвездочный отель на берегу моря. Великолепные виды, комфортные номера, 7 открытых бассейнов с морской и пресной водой, множество ресторанов и баров, услуги для детей (детский клуб, водная горка, анимация), детский ресторан, интернет, много спорта, анимация для взрослых, развлекательные программы и шоу. Подойдет для эксклюзивного отдыха любой категории туристов\nРасположение: \nВосточное побережье острова, р-н Каллифея, 6 км от г. Родос, 20 км от международного аэропорта Родоса.\nТерритория отеля: \n5 ресторанов (4 а’ля карт); 2 бара; 3 конференц-зала (до 300 персон); 8 бассейнов (1 крытый с подогревом в Aldemar Amilia Mare, 7 открытых с морской водой); 1 водная горка (83 м); 2 теннисных корта (с кварцевым покрытием); SPA-центр; услуги врача (по вызову, платно); прачечная (платно); лифт; обслуживание номеров; Wi-Fi в лобби (бесплатно); магазины\nВ номере: \nБалкон/терраса; Ванна/душ: ванна, банные принадлежности Aldemar; Кондиционер: (июнь-сентябрь); Мини-бар: по запросу; Спутниковое ТВ; Музыкальный канал; Телевизор; Телефон; Фен; Холодильник\nБесплатные услуги: \nтеннисный корт; теннисные мячи и ракетки; настольный теннис; дартс; баскетбол; аэробика; аквааэробика; футбольное поле; поле для мини-футбола; мини-гольф; развлекательные программы\nПлатные услуги: \nфитнес центр; сауна; джакузи; турецкая баня; массаж; уроки тенниса; бильярд; водные лыжи (с лицензией); серфинг (с лицензией); каноэ; водное поло; верховая езда (за пределами отеля); гольф (18 лунок, за пределами отеля)\nДля детей: \n1 открытый бассейн; водная горка (83 м); мини-клуб (возраст 4-12 лет); в ресторане – детское кресло; детское меню; детская площадка; развлекательные программы\nТипы номеров: \nВсего 200 номеров: Double Rooms GV/SV/PF/SP (~21 кв.м) , Family Apartments (~46 кв.м).; В номерах: кондиционер (15/06-15/09), две односпальные кровати, ванная комната (ванна), фен, банные принадлежности Aldemar, спутниковое телевидение с музыкальными каналами, прямой телефон, мини-бар (по запросу – за доплату), холодильник, сейф, меблированный балкон/веранда.; Family Apartment Двухкомнатный номер, комнаты разделены стенкой с окном и дверью, просторная ванная комната (ванна и отдельная душевая). Возможное размещение - 2-5 человек.; По прибытии в номерах: банный набор (мыло, шампунь, гель для душа, пилочка для ногтей, шапочка для душа, ватные палочки и швейный набор).\nПляж: \nПесчано-галечный: При отеле, песчано-галечный. Душевые, кабинки для переодевания. Спасатели на пляже.; Лежаки: бесплатно; Зонтики: бесплатно; Пляжные полотенца: под залог; Кабинки","13295049, 4102918, 60870, 9471054, 974432","{""Вид товара"":""Путешествия""}",158889.0,623430,NaN,50.584549,36.573676
398,734,10,Мотокомбинезон женский Skintan,"Пр-во Англия.\nКожа.\nРаздельный.\nЗащита:локти,колени,плечи,спина,бедра.\nРазмер XXS.Очень маленький размер!!!","4193194, 4444640, 5909335, 643937, 8960569","{""Вид товара"":""Экипировка""}",14000.0,637640,763.0,55.777170,37.586194
399,735,112,Водитель на личном микроавтобусе,"Ищу работу на микроавтобусе. Доставка грузов. пассажира перевозки. Город, межгород, районы",NaN,"{""Образование"":""Среднее специальное"", ""Пол"":""Мужской"", ""Возраст"":""33"", ""Переезд"":""Возможен"", ""Готовность к командировкам"":""Готов"", ""Опыт работы"":""14"", ""Гражданство"":""Россия"", ""Сфера деятельности"":""Транспорт, логистика"", ""График работы"":""Полный день""}",NaN,622170,NaN,51.516998,81.200973

In [14]:
some_values =['1689744',
'1708104',
'1745060',
'1849386',
'1850923',
'1862238',
'1957025',
'2003537',
'2035688',
'2042765',
'2065311',
'2093031',
'2105119',
'2150832',
'2178485',
'2179672',
'2222369']
item_info.loc[item_info['itemID'].isin(some_values)]

Empty DataFrame
Columns: [itemID, categoryID, title, description, images_array, attrsJSON, price, locationID, metroID, lat, lon]
Index: []

In [16]:
desc_sim = pd.read_csv('./description_similarity.csv',encoding='utf-8',nrows=400)

In [17]:
result = pd.concat([item_info,desc_sim], axis=1)

In [18]:
result.head()

,itemID,categoryID,title,description,images_array,attrsJSON,price,locationID,metroID,lat,lon,desc_sim
0,1,81,Продам Камаз 6520,Продам Камаз 6520 20 тонн,"1064094, 5252822, 6645873, 6960145, 9230265","{""Вид техники"":""Грузовики""}",300000.0,648140,NaN,64.686946,30.815924,1.000000
1,3,14,Yamaha r6,Весь в тюнинге.,"11919573, 14412228, 3204180, 6646877","{""Вид техники"":""Мотоциклы"", ""Вид мотоцикла"":""С...",300000.0,639040,NaN,55.678037,37.256548,0.698324
2,4,84,iPhone 3gs 8gb,"Телефон в хорошем состоянии, трещин и сколов н...","14384831, 6102021","{""Вид телефона"":""iPhone""}",3500.0,640650,NaN,56.239398,43.460458,0.902371
3,7,84,Xiaomi Mi4 3гб RAM + 16гб ROM белый,"Отличный подарок на новый год от ""китайской ap...",NaN,"{""Вид телефона"":""Другие марки""}",13500.0,662210,NaN,55.777170,37.586194,1.000000
4,8,39,Лыжные ботинки,"Лыжные ботинки в хорошем состоянии, 34 размер","13718854, 4787310","{""Вид товара"":""Зимние виды спорта""}",500.0,624360,NaN,55.777170,37.586194,0.983680

In [44]:
test = item_info.description[398].lower().split()
# test.replace('\n', ' ')
print(type(test))
test

<type 'list'>

[u'\u043f\u0440-\u0432\u043e',
 u'\u0430\u043d\u0433\u043b\u0438\u044f.',
 u'\u043a\u043e\u0436\u0430.',
 u'\u0440\u0430\u0437\u0434\u0435\u043b\u044c\u043d\u044b\u0439.',
 u'\u0437\u0430\u0449\u0438\u0442\u0430:\u043b\u043e\u043a\u0442\u0438,\u043a\u043e\u043b\u0435\u043d\u0438,\u043f\u043b\u0435\u0447\u0438,\u0441\u043f\u0438\u043d\u0430,\u0431\u0435\u0434\u0440\u0430.',
 u'\u0440\u0430\u0437\u043c\u0435\u0440',
 u'xxs.\u043e\u0447\u0435\u043d\u044c',
 u'\u043c\u0430\u043b\u0435\u043d\u044c\u043a\u0438\u0439',
 u'\u0440\u0430\u0437\u043c\u0435\u0440!!!']

### Mapping for parentCategoryID, regionID

In [14]:
cat = pd.read_csv(filepath+'Category.csv')
location = pd.read_csv(filepath+'Location.csv')

item_pairs =pd.read_csv(filepath+'ItemPairs_train.csv', nrows=400)
item_pairs.rename(columns={'itemID_1':'itemID'}, inplace=True)

In [15]:
item_pairs.head()

   itemID  itemID_2  isDuplicate  generationMethod
0  1       4112648   1            1
1  3       1991275   1            1
2  4       1223296   0            1
3  7       1058851   1            1
4  8       2161930   1            1

In [16]:
df = pd.merge(pd.merge(pd.merge(item_info,cat, on='categoryID'),
              location, on='locationID'),
              item_pairs, on='itemID')

df.tail()

,itemID,categoryID,title,description,images_array,attrsJSON,price,locationID,metroID,lat,lon,parentCategoryID,regionID,itemID_2,isDuplicate,generationMethod
395,358,20,Шкаф угловой новый,"Ширина, мм\n900\nВысота, мм\n2200\nГлубина,мм\n900\nМатериал: ЛДСП с накладками МДФ.\nДоставка 3-5 дней.\nЦвет: Орех, Бук бавария, беленый дуб, дуб беленый/венге.","386549, 7195674, 7738049","{""Вид товара"":""Кухонные гарнитуры""}",7600.0,661100,NaN,53.398579,58.988412,2,660710,338490,1,1
396,457,20,Стенка,"Продаётся срочно! Совершенно новая, ещё с этикетками. Продаём, т.К не подошла под интерьер. Разборку и сборку и доставку оплатим сами.",2632217,"{""Вид товара"":""Предметы интерьера, искусство""}",14000.0,646520,NaN,55.777170,37.586194,2,645790,2091537,1,1
397,263,98,Игровой Ноутбук Packard Bell EasyNote TV11HC,"ПРОДАЮ ОЧЕНЬ СРОЧНО\n###Один Косяк - не работает 4 кнопки (W,S,Q,2)###\n-состояние на 4/5\nСтоит Windows 7 Ultimate\nТанки,Dota 2, тянет на ура\n(Подробности по телефону)\n***Торг***\nПроцессор\n\nТип процессора\nCore i5\nКод процессора\n2450M\nЧастота процессора\n2.5GHz\nКоличество ядер процессора\n4\nЧипсет\nIntel HM77 \nРазмер оперативной памяти\n6 Гб\nТип памяти\nDDR3 \nКоличество слотов памяти\n2 \nЭкран\n\nРазмер экрана\n15.6 ""\nРазрешение экрана\n1366x768 \nШирокоформатный экран\nесть\nСветодиодная подсветка экрана\nесть\n\nВидео\n\nВидеопроцессор\nNVIDIA GeForce GT 620M \nРазмер видеопамяти\n1024\nТип видеопамяти\nGDDR3 \nЖёсткий диск (HDD) 500Gb\nОптический привод\nWi-Fi","5114133, 5446654, 8001859",NaN,14000.0,632210,NaN,56.283994,43.911043,6,631730,4750628,1,2
398,263,98,Игровой Ноутбук Packard Bell EasyNote TV11HC,"ПРОДАЮ ОЧЕНЬ СРОЧНО\n###Один Косяк - не работает 4 кнопки (W,S,Q,2)###\n-состояние на 4/5\nСтоит Windows 7 Ultimate\nТанки,Dota 2, тянет на ура\n(Подробности по телефону)\n***Торг***\nПроцессор\n\nТип процессора\nCore i5\nКод процессора\n2450M\nЧастота процессора\n2.5GHz\nКоличество ядер процессора\n4\nЧипсет\nIntel HM77 \nРазмер оперативной памяти\n6 Гб\nТип памяти\nDDR3 \nКоличество слотов памяти\n2 \nЭкран\n\nРазмер экрана\n15.6 ""\nРазрешение экрана\n1366x768 \nШирокоформатный экран\nесть\nСветодиодная подсветка экрана\nесть\n\nВидео\n\nВидеопроцессор\nNVIDIA GeForce GT 620M \nРазмер видеопамяти\n1024\nТип видеопамяти\nGDDR3 \nЖёсткий диск (HDD) 500Gb\nОптический привод\nWi-Fi","5114133, 5446654, 8001859",NaN,14000.0,632210,NaN,56.283994,43.911043,6,631730,1182434,1,2
399,437,82,Зерно ржи для проращивания 500г,"Продукт из экопоселения\nОрехи и сухофрукты\nУрбеч, мёд, пыльца, перга\nЗамороженные полуфабрикаты натуральные\nКокосовая вода и молоко\nПродукты из экопоселения ( мука, средство для мытья волос, рожь, пшеница для проращивания) и многое другое!!!\nЕсть также доставка, подробности уточняйте по телефону.",4362029,NaN,75.0,637770,NaN,55.797409,37.934462,2,637680,5280140,0,1

###  Mapping `lat`, `lon` using MapQuest

In [4]:
import requests as re
from bs4 import BeautifulSoup

In [7]:
# Obtain api key from MapQuest

# Remove newline character when reading from file
key = open('/home/juan/Documents/Avito/MapQuest_Key0.txt','r').read().strip()
osm = ('http://www.mapquestapi.com/geocoding/v1/reverse?key='+key+'&location=')

### Feature: Street, Neighborhood, City, State, PostalCode, GeocodeQuality

In [8]:
def latlon(lat,lon, code):
    srch = osm + str(lat)+','+ str(lon)+'&outFormat=xml'
#     print(srch)
    r = re.get(srch)
    soup = BeautifulSoup(r.content,'lxml') 
    return get_add(soup, code)

In [9]:
def get_add(soup,code):
    return {'Street'+code: get_str(soup.street),
        'Neighborhood'+code: get_str(soup.find(type="Neighborhood")),
        'City'+code: get_str(soup.find(type="City")),
        'State'+code:get_str(soup.find(type="State")),
           'postalCode'+code: get_str(soup.postalcode),
           'geocodeQuality'+code: get_str(soup.geocodequality),}

In [10]:
def get_str(tag):
    if tag is None:
        return 'Nil'
    else:
        return tag.string

In [11]:
# lat lon should be in str
def df_latlon(df,lat,lon,code):
    df_ll = df.apply(lambda x: pd.Series(latlon(x[lat], x[lon], code)), axis=1)
    return pd.concat([df,df_ll],axis=1)

In [12]:
df1 = df_latlon(df, 'lat', 'lon', '_x')
df1.head()

NameError: name 'df' is not defined

In [13]:
df1 = df_latlon(item_info, 'lat', 'lon', '_x')
df1.head()

,itemID,categoryID,title,description,images_array,attrsJSON,price,locationID,metroID,lat,lon,City_x,Neighborhood_x,State_x,Street_x,geocodeQuality_x,postalCode_x
0,1,81,Продам Камаз 6520,Продам Камаз 6520 20 тонн,"1064094, 5252822, 6645873, 6960145, 9230265","{""Вид техники"":""Грузовики""}",300000.0,648140,NaN,64.686946,30.815924,None,None,Northwestern Federal District,None,STATE,None
1,3,14,Yamaha r6,Весь в тюнинге.,"11919573, 14412228, 3204180, 6646877","{""Вид техники"":""Мотоциклы"", ""Вид мотоцикла"":""Спортивные""}",300000.0,639040,NaN,55.678037,37.256548,Odintsovo,None,Moscow Oblast,Marshala Jhukova Street,STREET,143000
2,4,84,iPhone 3gs 8gb,"Телефон в хорошем состоянии, трещин и сколов нет, за все время менялся только аккумулятор(поэтому заряд держит хорошо), остальное все родное, в целом работает отлично! В комплекте кабель. Обмен не интересен. Лежит без дела, только продажа.","14384831, 6102021","{""Вид телефона"":""iPhone""}",3500.0,640650,NaN,56.239398,43.460458,Dzerzhinsk,None,Nizhny Novgorod Oblast,1 улица Кирова,POINT,606024
3,7,84,Xiaomi Mi4 3гб RAM + 16гб ROM белый,"Отличный подарок на новый год от ""китайской apple""\nНовый в упаковке. Коробку вместе вскроем)\nЭкран: 5 дюймов, 1080p, Sharp/JDI OGS (Возможно использование в перчатках)\nЦвет корпуса: белый\nМатериалы корпуса: пластик, металл, стекло\n\nПроцессор: Qualcomm Snapdragon 801 (8X74AC, 2.5Ггц)\nВидео: Adreno 330 (578 Мгц)\nОЗУ: 3Гб (LPDDR3 933Мгц)\nПамять: 16Гб (eMMC 5.0)\n\nКамера задняя: 13Мп (Sony IMX214, f1.8, 6 линз)\nКамера передняя: 8Мп (Sony IMX219, f1.8, 5 линз)\n\nWiFi: 802.11 a/b/g/n/ac 2.4/5Ггц\nBluetooth: 4.0\nНавигация: GPS/Glonass\nСенсоры: ИК-Порт, Датчик освещенности, Барометр, Компас, Датчик силы тяжести\n\nСимкарта: MicroSIM\n\nАккумулятор: 3080 мАч (быстрая зарядка при 9V/1.2A или 5V/2A)\n\nДополнительно: Поддержка Smart Cover Case\n\nШирина: 68,5 мм\nВысота: 139.2 мм\nТолщина: 8.9 мм\nВес: 149 г\nБез 4G",NaN,"{""Вид телефона"":""Другие марки""}",13500.0,662210,NaN,55.777170,37.586194,Tverskoy District,None,Moscow,3 Лесная улица,POINT,125047
4,8,39,Лыжные ботинки,"Лыжные ботинки в хорошем состоянии, 34 размер","13718854, 4787310","{""Вид товара"":""Зимние виды спорта""}",500.0,624360,NaN,55.777170,37.586194,Tverskoy District,None,Moscow,3 Лесная улица,POINT,125047

### Merging ItemID_2 info with ItemID_1

In [11]:
cat2 = cat.rename(columns={'categoryID':'categoryID_y'})
location2 = location.rename(columns={'locationID':'locationID_y'})

In [22]:
item_infofull = pd.read_csv(filepath+'ItemInfo_train.csv')

In [13]:
len(item_infofull)

400

In [24]:
item_infofull.rename(columns={'itemID':'itemID_2'}, inplace=True)

df2 = pd.merge(pd.merge(pd.merge(df1,item_infofull, on='itemID_2'),
               cat2, on='categoryID_y'),
               location2, on='locationID_y')

In [25]:
df2 = df2.drop(['attrsJSON_x','metroID_x','attrsJSON_y','metroID_y'],axis=1)

In [26]:
df3 = df_latlon(df2, 'lat_y', 'lon_y', '_y')
df3.tail()

,itemID,categoryID_x,title_x,description_x,images_array_x,price_x,locationID_x,lat_x,lon_x,parentCategoryID_x,...,lat_y,lon_y,parentCategoryID_y,regionID_y,City_y,Neighborhood_y,State_y,Street_y,geocodeQuality_y,postalCode_y
395,182,89,Той терьер,Маленький мальчик ждёт свои любящие заботливые...,10392879,4500.0,637440,55.777170,37.586194,35,...,52.603587,39.597603,35,637260,Nil,Nil,Nil,Nil,Nil,Nil
396,194,89,Девочка-медвежонок,Девочка рождена 30.12.2015г.Необыкновенно крас...,"1576787, 6191208, 6411740",21000.0,658080,54.193802,37.619028,35,...,54.511823,37.051400,35,657610,Nil,Nil,Nil,Nil,Nil,Nil
397,263,98,Игровой Ноутбук Packard Bell EasyNote TV11HC,ПРОДАЮ ОЧЕНЬ СРОЧНО\n###Один Косяк - не работа...,"5114133, 5446654, 8001859",14000.0,632210,56.283994,43.911043,6,...,55.777170,37.586194,6,631730,Nil,Nil,Nil,Nil,Nil,Nil
398,103,25,Дом 170 м² на участке 10 сот.,Продам дом с.Троицкая ул.Тутаева новый дом ряд...,"53314, 5725170, 6074414, 6779848, 7916713, 809...",2800000.0,653317,43.315854,45.067202,4,...,43.315854,45.067202,4,628455,Nil,Nil,Nil,Nil,Nil,Nil
399,103,25,Дом 170 м² на участке 10 сот.,Продам дом с.Троицкая ул.Тутаева новый дом ряд...,"53314, 5725170, 6074414, 6779848, 7916713, 809...",2800000.0,653317,43.315854,45.067202,4,...,43.315854,45.067202,4,628455,Nil,Nil,Nil,Nil,Nil,Nil

In [27]:
pd.options.display.max_colwidth = -1
pd.options.display.max_columns = None
df3.head()

,itemID,categoryID_x,title_x,description_x,images_array_x,price_x,locationID_x,lat_x,lon_x,parentCategoryID_x,regionID_x,itemID_2,isDuplicate,generationMethod,City_x,Neighborhood_x,State_x,Street_x,geocodeQuality_x,postalCode_x,categoryID_y,title_y,description_y,images_array_y,price_y,locationID_y,lat_y,lon_y,parentCategoryID_y,regionID_y,City_y,Neighborhood_y,State_y,Street_y,geocodeQuality_y,postalCode_y
0,1,81,Продам Камаз 6520,Продам Камаз 6520 20 тонн,"1064094, 5252822, 6645873, 6960145, 9230265",300000.0,648140,64.686946,30.815924,1,648070,4112648,1,1,Nil,Nil,Nil,Nil,Nil,Nil,81,Продам Камаз 6520,Продам Камаз 6520 20 тонн,"1227519, 1374615, 7072137, 8671835",300000.0,648140,64.686946,30.815924,1,648070,Nil,Nil,Nil,Nil,Nil,Nil
1,193,81,MAN TGX 18.480,"Продаю MAN TGX 18.480 2008 года выпуска, кпп автомат. Состояние отличное, готов к работе. Рассмотрю варианты обмена. Подробности по телефону.","1029765, 11597556, 3448022, 551083, 8444145",2400000.0,648760,56.637263,47.886673,1,648730,3918495,1,1,Nil,Nil,Nil,Nil,Nil,Nil,81,Man TGX 18.480,"Продаю маn TGX 18.480 2008 года выпуска, кпп автомат. Состояние отличное, готов к работе. Обмен. Подробности по телефону.","10043643, 1448346, 1890733, 3048514, 3836550",2400000.0,648760,56.637263,47.886673,1,648730,Nil,Nil,Nil,Nil,Nil,Nil
2,3,14,Yamaha r6,Весь в тюнинге.,"11919573, 14412228, 3204180, 6646877",300000.0,639040,55.678037,37.256548,1,637680,1991275,1,1,Nil,Nil,Nil,Nil,Nil,Nil,14,Yamaha R6,Весь в тюнинге. Возможен торг,"11068709, 13325040, 13783238, 206652, 9458537",330000.0,639040,55.678037,37.256548,1,637680,Nil,Nil,Nil,Nil,Nil,Nil
3,291,14,Продам Stels-s450,"Продам квадр 450к\nИдеальное состояние,практически не использовался..! (Сост Нового)\nТорг при осмотре!\nПричина продажи покупка недвижимости.","13528926, 4615652, 6856546",170000.0,638220,55.744272,38.015894,1,637680,562789,1,1,Nil,Nil,Nil,Nil,Nil,Nil,14,Продам stels 450H,"Продаю квадроцикл,состояние нового!\nИзредка использовал для прогулок по лесу,грязи не видел!\nПокупал сам в магазине,никаких вложений не требует.\nДокументы на руках..\nПродаю по причине,беру ипотеки и покупаю недвижимость.\nЕсли без торга,то кофр отдам его стоимость 12000.","11150303, 11189165, 13671950, 1990395, 8559868",168000.0,638220,55.744272,38.015894,1,637680,Nil,Nil,Nil,Nil,Nil,Nil
4,450,30,Продам мобиль-ночник,"Состояние нового,если снять игрушки будет просто ночник с музыкой.","10533554, 11351624, 12053366, 4907365, 5647588",600.0,638220,55.744272,38.015894,5,637680,5959208,1,1,Nil,Nil,Nil,Nil,Nil,Nil,30,Продам мобиль-ночник,"Пользовались 1 месяц,подсветка 3 режима,музыка,вибрация.крутиться вертится.","14041801, 1643200",600.0,637770,55.797409,37.934462,5,637680,Nil,Nil,Nil,Nil,Nil,Nil

In [28]:
df3.isDuplicate.sum()

209L

### Feature: Number of images identifiers that overlaps

In [29]:
def n_similar_images(df):
    try:
        arr1 = df.images_array_x.split(',')
        try:
            arr2 = df.images_array_y.split(',')
            return sum(a in b for a, b in zip(arr1,arr2))
        except: pass
    except: pass

In [30]:
num_similarimages = df3[['images_array_x','images_array_y']].apply(n_similar_images, axis=1)

In [31]:
num_similarimages.sum()

0.0

### Feature: Difference in length of image array

In [32]:
def diff_len_image_array(df2):
    try:
        arr1 = df2.images_array_x.split(',')
        try:
            arr2 = df2.images_array_y.split(',')
            return abs(len(arr1)-len(arr2))
        except: pass
    except: pass

In [33]:
df3['lendiff_imagearray'] = df3[['images_array_x','images_array_y']].apply(diff_len_image_array, axis=1)

### Feature: sameCat

In [34]:
df3['sameCat'] = df3.apply(
    lambda x: 1 if x.categoryID_x == x.categoryID_y else 0, axis=1)

In [35]:
df3['sameCat'].sum()

400L

### Feature: sameParentCat

In [36]:
df3['sameParentCat'] = df3.apply(
    lambda x: 1 if x.parentCategoryID_x == x.parentCategoryID_y else 0 , axis=1)

In [37]:
df3['sameParentCat'].sum()

400L

- Feature engineering done on the categories showed that `categoryID` and `parentCategoryID` is not very useful in predicting if an ad is a duplicate of the other.

### Feature: priceDifference

In [38]:
df3['priceDifference'] = df3.apply(
    lambda x: abs(x.price_x - x.price_y), axis=1)

### Feature: samelatlon
- Checks if item pairs have the same lat and lon values

In [39]:
df3.apply(
    lambda x: 1 if x.lon_x == x.lon_y else 0, axis=1).sum()

337L

### Feature: latlonDifference
- Compute the differences between the lat and lon values for item pairs
using **Haversine** distance

In [40]:
import math

In [41]:
def haversine(lat1, lon1, lat2, lon2):
    r = 6371
    lat1, lon1, lat2, lon2 = map(math.radians, [lat1, lon1, lat2, lon2])
    
    dlon = (lon2-lon1)/2
    dlat = (lat2-lat1)/2
    ax = math.sin(dlat)**2 + math.cos(lat1) *math.cos(lat2) * math.sin(dlon)**2
    d = 2 * r * math.asin(math.sqrt(ax))
    return d

In [42]:
df3['latlonDifference'] = df3.apply(
    lambda x: haversine(x['lat_x'], x['lon_x'], x['lat_y'], x['lon_y'])
    ,axis=1)

In [43]:
df3[df3.latlonDifference == 0.0000].latlonDifference.count()

337

In [44]:
df3.head()

,itemID,categoryID_x,title_x,description_x,images_array_x,price_x,locationID_x,lat_x,lon_x,parentCategoryID_x,regionID_x,itemID_2,isDuplicate,generationMethod,City_x,Neighborhood_x,State_x,Street_x,geocodeQuality_x,postalCode_x,categoryID_y,title_y,description_y,images_array_y,price_y,locationID_y,lat_y,lon_y,parentCategoryID_y,regionID_y,City_y,Neighborhood_y,State_y,Street_y,geocodeQuality_y,postalCode_y,lendiff_imagearray,sameCat,sameParentCat,priceDifference,latlonDifference
0,1,81,Продам Камаз 6520,Продам Камаз 6520 20 тонн,"1064094, 5252822, 6645873, 6960145, 9230265",300000.0,648140,64.686946,30.815924,1,648070,4112648,1,1,Nil,Nil,Nil,Nil,Nil,Nil,81,Продам Камаз 6520,Продам Камаз 6520 20 тонн,"1227519, 1374615, 7072137, 8671835",300000.0,648140,64.686946,30.815924,1,648070,Nil,Nil,Nil,Nil,Nil,Nil,1.0,1,1,0.0,0.000000
1,193,81,MAN TGX 18.480,"Продаю MAN TGX 18.480 2008 года выпуска, кпп автомат. Состояние отличное, готов к работе. Рассмотрю варианты обмена. Подробности по телефону.","1029765, 11597556, 3448022, 551083, 8444145",2400000.0,648760,56.637263,47.886673,1,648730,3918495,1,1,Nil,Nil,Nil,Nil,Nil,Nil,81,Man TGX 18.480,"Продаю маn TGX 18.480 2008 года выпуска, кпп автомат. Состояние отличное, готов к работе. Обмен. Подробности по телефону.","10043643, 1448346, 1890733, 3048514, 3836550",2400000.0,648760,56.637263,47.886673,1,648730,Nil,Nil,Nil,Nil,Nil,Nil,0.0,1,1,0.0,0.000000
2,3,14,Yamaha r6,Весь в тюнинге.,"11919573, 14412228, 3204180, 6646877",300000.0,639040,55.678037,37.256548,1,637680,1991275,1,1,Nil,Nil,Nil,Nil,Nil,Nil,14,Yamaha R6,Весь в тюнинге. Возможен торг,"11068709, 13325040, 13783238, 206652, 9458537",330000.0,639040,55.678037,37.256548,1,637680,Nil,Nil,Nil,Nil,Nil,Nil,1.0,1,1,30000.0,0.000000
3,291,14,Продам Stels-s450,"Продам квадр 450к\nИдеальное состояние,практически не использовался..! (Сост Нового)\nТорг при осмотре!\nПричина продажи покупка недвижимости.","13528926, 4615652, 6856546",170000.0,638220,55.744272,38.015894,1,637680,562789,1,1,Nil,Nil,Nil,Nil,Nil,Nil,14,Продам stels 450H,"Продаю квадроцикл,состояние нового!\nИзредка использовал для прогулок по лесу,грязи не видел!\nПокупал сам в магазине,никаких вложений не требует.\nДокументы на руках..\nПродаю по причине,беру ипотеки и покупаю недвижимость.\nЕсли без торга,то кофр отдам его стоимость 12000.","11150303, 11189165, 13671950, 1990395, 8559868",168000.0,638220,55.744272,38.015894,1,637680,Nil,Nil,Nil,Nil,Nil,Nil,2.0,1,1,2000.0,0.000000
4,450,30,Продам мобиль-ночник,"Состояние нового,если снять игрушки будет просто ночник с музыкой.","10533554, 11351624, 12053366, 4907365, 5647588",600.0,638220,55.744272,38.015894,5,637680,5959208,1,1,Nil,Nil,Nil,Nil,Nil,Nil,30,Продам мобиль-ночник,"Пользовались 1 месяц,подсветка 3 режима,музыка,вибрация.крутиться вертится.","14041801, 1643200",600.0,637770,55.797409,37.934462,5,637680,Nil,Nil,Nil,Nil,Nil,Nil,3.0,1,1,0.0,7.800873

In [45]:
len(df3)

400

In [46]:
df3.to_csv(filepath+'ItemInfo_train3.csv', encoding='utf-8', index=False)