In [63]:
import pandas as pd 
import json
import requests as re
from bs4 import BeautifulSoup

In [227]:
filepath = '~/Documents/Avito/'
item_info = pd.read_csv(filepath+'ItemInfo_train.csv', nrows=3)
item_info.tail()

,itemID,categoryID,title,description,images_array,attrsJSON,price,locationID,metroID,lat,lon
0,1,81,Продам Камаз 6520,Продам Камаз 6520 20 тонн,"1064094, 5252822, 6645873, 6960145, 9230265","{""Вид техники"":""Грузовики""}",300000.0,648140,NaN,64.686946,30.815924
1,3,14,Yamaha r6,Весь в тюнинге.,"11919573, 14412228, 3204180, 6646877","{""Вид техники"":""Мотоциклы"", ""Вид мотоцикла"":""С...",300000.0,639040,NaN,55.678037,37.256548
2,4,84,iPhone 3gs 8gb,"Телефон в хорошем состоянии, трещин и сколов н...","14384831, 6102021","{""Вид телефона"":""iPhone""}",3500.0,640650,NaN,56.239398,43.460458

In [164]:
# Remove newline character when reading from file
key = open('MapQuest_Key.txt','r').read().strip()

iQmz98SOi07LEIc6G64GMSVRhquVaZIr

In [165]:
osm = ('http://www.mapquestapi.com/geocoding/v1/reverse?key='+key+'&location=')
osm

'http://www.mapquestapi.com/geocoding/v1/reverse?key=iQmz98SOi07LEIc6G64GMSVRhquVaZIr&location='

In [228]:
def get_str(tag):
    print(tag)
    if tag is None:
        return 'Nil'
    else:
        return tag.string

In [241]:
def get_add(soup):
    return {'PostalCode': get_str(soup.postalcode)}

In [242]:
def latlon(lat,lon):
    srch = osm + str(lat)+','+ str(lon)+'&outFormat=xml'
    print(srch)
    r = re.get(srch)
    soup = BeautifulSoup(r.content,'lxml') 
#     print(soup)
#     result = soup.postalCode.string
    return get_add(soup)

In [243]:
item_info.apply(lambda x: pd.Series(latlon(x['lat'], x['lon'])), axis=1)

http://www.mapquestapi.com/geocoding/v1/reverse?key=iQmz98SOi07LEIc6G64GMSVRhquVaZIr&location=64.686946,30.815924&outFormat=xml
<postalcode></postalcode>
http://www.mapquestapi.com/geocoding/v1/reverse?key=iQmz98SOi07LEIc6G64GMSVRhquVaZIr&location=64.686946,30.815924&outFormat=xml
<postalcode></postalcode>
http://www.mapquestapi.com/geocoding/v1/reverse?key=iQmz98SOi07LEIc6G64GMSVRhquVaZIr&location=55.678037,37.256548&outFormat=xml
<postalcode>143000</postalcode>
http://www.mapquestapi.com/geocoding/v1/reverse?key=iQmz98SOi07LEIc6G64GMSVRhquVaZIr&location=56.239398,43.460458&outFormat=xml
<postalcode>606024</postalcode>

  PostalCode
0       None
1     143000
2     606024

In [201]:
df = pd.concat([item_info,df_latlon],axis=1)

In [202]:
df.Neighborhood.isnull().sum()

400