In [12]:
import pandas as pd
%matplotlib inline
from matplotlib import pyplot as plt

In [ ]:
filepath = '~/Documents/Avito/'

In [ ]:
df = pd.read_csv(filepath+'ItemInfo_train.csv')
df.tail()

In [6]:
item_pairs = pd.read_csv(filepath+'ItemPairs_train.csv')
item_pairs.tail()

         itemID_1  itemID_2  isDuplicate  generationMethod
2991391   6104033   6110827            0                 1
2991392   6104879   6111227            1                 1
2991393   6105178   6106210            0                 1
2991394   6106239   6109219            1                 2
2991395   6106742   6108600            0                 3

In [7]:
cat = pd.read_csv(filepath+'Category.csv')
cat.tail(6)

    categoryID  parentCategoryID
45         106                 2
46         111               110
47         112               110
48         114               113
49         115               113
50         116                 8

In [8]:
location = pd.read_csv(filepath+'Location.csv')
location.tail(6)

      locationID  regionID
3443      662814    662811
3444      662815    662811
3445      662816    662811
3446      662817    662811
3447      662818    662811
3448      662819    662811

In [ ]:
pair_bar = item_pairs[['isDuplicate','generationMethod']]
pair_bar.plot(kind='bar', stacked=True)